#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


.App{
  display: flex;
  background-color: rgba(27, 26, 26, 0.039);
  color: whitesmoke;
  justify-content: center;
}

.center{
  display: flex !important;
  justify-content: center !important;
 
}